<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}">

    <!-- START VENDORS FAVICONS -->
    <link rel="icon" type="image/png" href="/favicons/favicon.png">
    <!-- END VENDORS FAVICONS -->

    <!-- START VENDORS CSS -->
    {% block vendors_css %}{% endblock vendors_css %}
    <!-- END VENDORS CSS -->
    {% endblock head %}
</head>

<body>
    <noscript>
        <strong>We're sorry but nodymaps doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright {{ now() | date(format="%Y") }} <a href="https://tera.netlify.app/" target="_blank">Tera Documentation</a>.
        {% endblock footer %}
    </div>
    <!-- START VENDORS JS -->
    {% block vendors_js %}{% endblock vendors_js %}
    <!-- END VENDORS JS -->
</body>

</html>
